body {
    margin: 0;
}
header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 86px;
    box-shadow: 0px 0px 5px #000000;
}

header .profile-icon img{
    width: 30px;
    margin-right: 2em;
}

header nav .nav-list {
    display: flex;
    list-style: none;
}

header nav .nav-list .list-items {
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
}



header nav .nav-list .list-items a{
    text-decoration: none;
    color: grey;
}

header nav .nav-list .list-items a:hover {
    color: aqua;
}

header .container .logo {
    margin-right: auto;
    margin-left: 2em;
}

header .container .logo h1{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 0px;
}

header .container .logo h3{
    font-size: 20px;
    font-weight: bold;
    color: #1f87b1;
    margin-top: 0px;
}

.image-post .image-background img {
    height: 150px;
    width: 100%;
}

.image-post {
    position: relative;
}

.image-post .container {
    position: absolute;
    top: 0%;
    padding: 10px;
    display: flex;
    color: grey;
}

.image-post .container h4 {
    font-size: 45px;
    font-weight: bold;
    padding-left: 15px;
    color: #1f87b1;
    text-align: center;
}

.body-content {
    width: 100%;
    padding: 10px 0 0 0;
}

.body-content .inner-box {
    margin: 0 auto;
}

.body-content .inner-box .container {
    padding: 20px;
}

.body-content .inner-box .container .col-one {
    width: 48%;
    float: left;
    margin-left: 50px;
}

.body-content .inner-box .container .col-one h1 {
    font-size: 24px;
    color: #2457ab;
    border-bottom: 1px dashed #d1d1d1;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.body-content .inner-box .container .col-one p {
    margin: 0px 0 12px 0;
    padding: 0;
    line-height: 24px;
    font-size: 16px;
    color: #757575;
}

.body-content .inner-box .container .col-one ul {
    margin: 10px 0 10px 10px;
    padding: 0;
    list-style: none;
}

.body-content .inner-box .container .col-one ul li {
    margin-bottom: 12px;
    background: url(../images/arrow.gif) no-repeat 0 5px;
    padding-left: 12px;
    color: #757575;
}

.body-content .inner-box .container .col-one h3 {
    font-size: 18px;
    color: #2457ab;
    padding: 0 0 5px 0;
}

.body-content .inner-box .container .col-one .contact {
    padding: 0;
    margin: 0;
}

.body-content .inner-box .container .col-one .contact p {
    margin-bottom: 0.2em;
}

.body-content .inner-box .container .col-one .contact ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.body-content .inner-box .container .col-one .contact ul li {
    width: 55px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 0px 0px 5px 0;
    float: left;
    background-image: none !important;
    color: #666666;
}

.body-content .inner-box .container .col-one .contact .clear{
    clear: both;
    line-height: 0;
    font-size: 0;
}

.body-content .inner-box .container .col-two {
    width: 48%;
    float: right;
}

.body-content .inner-box .container .col-two h1 {
    font-size: 24px;
    color: #2457ab;
    border-bottom: 1px dashed #d1d1d1;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.body-content .inner-box .container .col-two .info-button {
    background: url(../images/plus-sign.png) no-repeat scroll right 9px transparent;
    border: 1px solid #E3E3E3;
    color: #040404;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 5px 0 0 0;
    padding: 0 0 0 10px;
    width: 430px;
}

.body-content .inner-box .container .col-two .info-button a {
    text-decoration: none;
    font-size: 15px;
    color: #2457ab;
}

.box-container {
    clear: left;
    margin-top: 27px;
    background-color: #292626;
}

.box-container .container {
    
    margin: 0px 25px;
    padding: 0px 10px;
}

.box-container .container .row {
    display: flex;
    justify-content: space-between;
}

.box-container .container .row .col-con-one {
    padding: 10px;
}

.box-container .container .row .col-con-one h4 {
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.box-container .container .row .col-con-one .hor-line {
    width: 8%;
    padding-bottom: 8px;
}

.box-container .container .row .col-con-one a {
    text-decoration: none;
}

.box-container .container .row .col-con-one a strong {
    color: white;
    font-size: 18px;
}

.box-container .container .row .col-con-one .subtext {
    padding-top: 5px;
    padding-bottom: 15px;
}

.box-container .container .row .col-con-one .subtext span {
    color: grey;
}

.box-container .container .row .col-con-two {
    padding: 10px;
}

.box-container .container .row .col-con-two h4{
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.box-container .container .row .col-con-two .hor-line {
    width: 25%;
    padding-bottom: 8px;
}

.box-container .container .row .col-con-two ul {
    padding-left: 0px;
    list-style-type: none;
    margin-top: 0px;
}

.box-container .container .row .col-con-two ul li {
    color: white;
    padding-bottom: 5px;
}

.box-container .container .row .col-con-three {
    padding: 10px;
}

.box-container .container .row .col-con-three h4{
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.box-container .container .row .col-con-three h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 7px;
}

.box-container .container .row .col-con-three .hor-line {
    padding-bottom: 10px;
    width: 20%;
}

.box-container .container .row .col-con-three a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.box-container .container .row .col-con-three #space {
    margin-bottom: 10px;
}

.box-container .container .row .col-con-four {
    padding: 10px;
}

.box-container .container .row .col-con-four h4{
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.box-container .container .row .col-con-four h3 {
    color: white;
    margin-bottom: 0px;
}

.box-container .container .row .col-con-four p {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

.box-container .container .row .col-con-four .hor-line {
    padding-bottom: 10px;
    width: 20%;
}

.box-container .container .row .col-con-four button {
    margin-top: 25px;
    padding: 9px;
    border-radius: 3px;
    border: 1px solid #1f87b1;
    background-color: #1f87b1;
    color: white;
}

.bottom-bar .container {
    padding-top: 25px;
    background-color: grey;
    opacity: 0.7;
    padding-bottom: 0px;
}

.bottom-bar .container p{
    color: black;
    font-size: 18px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 5px;
}

.bottom-bar .container {
    display: flex;
    justify-content: space-between;
}

.bottom-bar .container .icon-buttons ul{
    display: flex;
    list-style-type: none;
    text-align: center;
}

.bottom-bar .container .icon-buttons ul li {
    margin-right: 15px;
    height: 30px;
    width: 40px;
    border-radius: 20px;
    padding-top: 10px;
}

.bottom-bar .container .icon-buttons ul li.facebook-icon {
    background-color: #4f7dd4;
}

.bottom-bar .container .icon-buttons ul li.twitter-icon {
    background-color: #5bceff;
}

.bottom-bar .container .icon-buttons ul li.linkedin-icon {
    background-color: #21a6d8;
}

.bottom-bar .container .icon-buttons ul li.youtube-icon {
    background-color: #c4302b;
}

.bottom-bar .container .icon-buttons ul li.instagram-icon {
    background-color: #e1306cc4;
}


.bottom-bar .container .icon-buttons ul li a{
    text-decoration: none;
    color: white;
}


